/* h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0 !important;
} */

/*---------------------- 404 Page Not Found --------------------*/
.error-img {
	height: 90vh !important;
}

/*---------------------- Header and Navbar --------------------*/

.header-main {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.header-sub {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	word-break: break;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-links {
	display: flex;
}

.logo {
	height: 2rem;
}

.nav-link {
	color: #fff !important;
}

/*---------------------- jumbotron and carousel --------------------*/

.jumbotron {
	position: relative;
}

.jumbotron .title,
.text {
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	z-index: 3;
}

.carousel-content {
	/* margin-top: 25%; */
	top: 30%;
	position: absolute;
	z-index: 2;
}

.carousel-item img {
	filter: brightness(50%);
}

/*---------------------- Buttons --------------------*/

.carousel-btn {
	margin: 0 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	width: 40px;
	background-color: var(--pink);
	border: none;
	outline: none;
	font-size: 35px;
	color: white;
}

.social-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	outline: none;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	margin: 0 6px;
	transition: all 0.4s;
	background-color: #fff;
	opacity: 75%;
}

.social-buttons:hover {
	opacity: 1;
}

.common-btn {
	border: none;
	padding: 7px 10px;
	font-weight: 600;
	border-radius: 4px;
}
.service-btn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 140px;
	padding: 0.75rem;
	margin: 0.5rem;
	font-weight: 500;
	font-size: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.selected {
	background-color: var(--pink);
	color: white;
}
.pink-bg {
	background-color: var(--pink);
	color: #fff;
}
.white-bg {
	background-color: #fff;
	color: black;
}
.purple-bg {
	background-color: var(--purple);
	color: #fff;
}
.black-bg {
	background-color: #000;
	color: #fff;
}

.btn-arrow {
	font-size: 20px;
	margin: 0 0 0 8px;
}

.title hr {
	font-weight: 900;
	opacity: 0.75 !important;
	color: #fff !important;
}

/*---------------------- Consultancy Services --------------------*/

.services {
	position: relative;
	top: -70px;
	z-index: 2;
}

.service-card {
	height: 215px;
	width: 250px;
	padding: 10px;
	margin: 10px;
}
.service-card h3 {
	font-size: 1.35rem;
}
.service-card p {
	margin: 10px;
	font-size: 0.8rem;
}

/*---------------------- About Us --------------------*/
.about-title hr {
	opacity: 1;
	width: 60px;
	color: var(--pink) !important;
}

.about-title p {
	margin: 0 20px;
	text-transform: uppercase;
	font-weight: 500;
}

.about-container {
	display: flex;
	justify-content: space-evenly;
	/* height: 100vh; */
}

.about-content h1 {
	font-size: 2rem;
	font-weight: 900;
}

.about-content span {
	color: var(--pink);
}

.img-block {
	position: absolute;
}

.emp-img {
	position: relative;
	top: 80px;
	right: 150px;
}

/*---------------------- Services Section --------------------*/

.heading hr {
	opacity: 1;
	width: 40px;
	margin: 0;
	font-weight: 900;
	color: #fff;
}

.heading p {
	margin: 0 10px;
}

.jumbotron .service-header {
	color: #fff;
	position: absolute;
	top: 10%;
	z-index: 3;
}

.service-emp {
	position: absolute;
	filter: brightness(100%) !important;
}

.video-img {
	position: relative;
	top: 230px;
	left: 330px;
	border-radius: 5px;
}

/* -------------------- ProjectInfo Section ----------------------- */

.project-title .title-text {
	color: var(--pink);
}

.project-title h2 {
	font-weight: 900;
}

.project-title hr {
	opacity: 1;
	width: 50px;
	color: var(--pink) !important;
}
.project-title p {
	margin: 0 10px;
	text-transform: uppercase;
	font-weight: 700;
}

.project-box {
	height: 320px;
	width: 290px;
	background-color: var(--pink);
}

.image-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85px;
	width: 85px;
	border-radius: 50%;
	background: linear-gradient(var(--pink), var(--purple));
}

/* -------------------- Project Section ----------------------- */

.complete-text {
	color: var(--pink);
	font-family: "Dancing Script", cursive;
}

.progress-box {
	display: flex;
	justify-content: center;
	height: 340px;
	width: 400px;
	background-color: #091b29;
	color: #fff;
}

/* -------------------- Slider Data ----------------------- */

.slider-bg {
	background-image: url("../Assets/slider-bg.jpg");
	min-height: 500px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Image slider Carousel dots */
.alice-carousel__dots {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
}
.alice-carousel__dots-item.__active {
	background: #fff !important;
}

.alice-carousel__dots-item {
	background: #111 !important;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
	display: none !important;
}
.card-body h5 {
	font-size: 1.25rem !important;
}

.card-body p {
	font-size: 0.75rem !important;
}

/* -------------------- Contact Us Section ----------------------- */
.contact-bg img {
	filter: brightness(50%);
}

.info {
	position: absolute;
	min-height: 100%;
}

.contact-btn {
	font-size: 35px;
	width: 350px;
	height: 180px;
}

.contact-btn .btn-arrow {
	display: none;
}

.brand-logo-images {
	height: 90px;
	transition: all 0.2s;
}

.brand-logo-images:hover {
	height: 85px;
}

/* -------------------- Footer ----------------------- */

.footer {
	background-color: var(--ex-dark);
}

.footer-links {
	background-color: var(--dark);
}

.resources h3,
.important h3,
.recent h3,
.socials h3 {
	font-size: 1.5rem;
}

.footer-links a,
.resources-links a,
.important-links a,
.post-links a {
	margin-top: 5px;
	transition: all 0.3s;
	text-decoration: none;
	color: #fff;
}

.footer-links a:hover,
.resources-links a:hover,
.important-links a:hover,
.post-links a:hover {
	color: var(--pink);
}

.footer-icon-container {
	color: var(--pink);
}

.footer-logo img {
	height: 45px;
}

.footer-btn {
	outline: none;
	border: none;
	border-radius: 50%;
	color: #fff;
	background-color: var(--dark);
	height: 40px;
	width: 40px;
	transition: all 0.3s;
}
.footer-btn:hover {
	color: var(--pink);
	background-color: #fff;
}

.search-bar {
	color: #fff;
	outline: none;
	background-color: var(--dark);
	border: none;
	border-radius: 5px;
}

.search-section .common-btn {
	transition: all .3s;
	background-color: var(--dark);
	color: var(--pink);
}

.search-section .common-btn:hover {
	background-color: var(--pink);
	color: #fff;
}

.search-section .btn-arrow {
	display: none;
}

/* -------------------- Media Queries ----------------------- */

@media screen and (max-width: 1200px) {
	.service-emp {
		height: 200px;
		width: 300px;
	}

	.video-img {
		height: 130px;
		position: relative;
		top: 120px;
		left: 190px;
		border-radius: 5px;
	}
	.service-text-container p {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 992px) {
	.logo {
		height: 1.5rem;
	}

	.header-main {
		font-size: 0.7rem;
	}

	.header-sub {
		font-size: 0.75rem;
	}

	.nav-link {
		color: black !important;
	}
	/* .services {
		position: relative;
		top: 0;
	} */
	.carousel-content {
		top: 20%;
		position: absolute;
		z-index: 2;
	}

	.about-container {
		display: flex;
		justify-content: space-between;
	}

	.heading {
		font-size: 0.5rem;
	}
	.heading hr {
		width: 30px;
	}
	.heading h3 {
		font-size: 1rem;
	}

	.service-emp {
		height: 160px;
		width: 250px;
	}

	.video-img {
		height: 100px;
		position: relative;
		top: 100px;
		left: 170px;
		border-radius: 5px;
	}

	.service-text-container p {
		font-size: 0.75rem;
	}

	.service-btn {
		min-width: 100px;
		padding: 0.3rem;
		margin: 0.25rem;
		font-weight: 500;
		font-size: 1rem;
	}

	.service-menu .common-btn {
		padding: 5px;
		font-size: 0.7rem;
	}

	.info h1 {
		font-size: 1.25rem;
	}

	.contact-btn {
		font-size: 25px;
		width: 250px;
		height: 80px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.header-links {
		display: none !important;
	}

	.link {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.nav-link {
		color: black !important;
	}

	.toggle-button {
		position: relative;
		top: -65px;
		left: 40px;
		/* padding: 2px !important; */
	}
	.toggle-button span {
		font-size: 1rem;
		width: 20px !important;
	}

	.main-text h3 {
		font-size: 1rem;
	}
	.main-text h1 {
		font-size: 1.75rem;
	}
	.main-text p {
		font-size: 0.75rem;
	}

	.common-btn {
		font-size: 0.75rem;
	}
	.btn-arrow {
		font-size: 15px;
	}

	.carousel-btn {
		height: 30px;
		width: 30px;
	}

	.carousel-content {
		top: 20%;
		position: absolute;
		z-index: 2;
	}

	.services {
		position: relative;
		top: 0;
	}

	.service-container {
		display: flex;
		flex-direction: column;
	}

	.img-container {
		display: flex;
		justify-content: center;
		/* align-items: center; */
	}

	.img-block img {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 150px;
	}

	.emp-img {
		position: relative;
		top: -80px;
		right: -65px;
	}

	.about-title p {
		font-size: 0.5rem;
		margin: 0 20px;
		text-transform: uppercase;
		font-weight: 500;
	}

	.about-content h1 {
		font-size: 1rem;
		font-weight: 900;
	}

	.about-content p {
		font-size: 0.75rem;
	}
	.service-btn {
		flex-wrap: nowrap;
		min-width: 10px;
		padding: 0.4rem;
		margin: 0.3rem;
		font-weight: 500;
		font-size: 0.75rem;
	}

	.service-text-container p {
		font-size: 0.5rem;
	}

	.service-emp {
		height: 140px;
		width: 220px;
	}

	.video-img {
		height: 80px;
		position: relative;
		top: 100px;
		left: 150px;
		border-radius: 5px;
	}

	.contact-btn {
		font-size: 20px;
		width: 200px;
		height: 60px;
	}
}

@media screen and (max-width: 538px) {
	.carousel-content {
		top: 10%;
		position: absolute;
		z-index: 2;
	}

	.about-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.img-container {
		width: 100% !important;
	}

	.img-block {
		position: relative;
		display: flex !important;
	}

	.emp-img {
		height: 100px !important;
		position: relative;
		top: 50px;
		right: 75px;
	}

	.heading {
		font-size: 0.5rem;
	}
	.heading hr {
		width: 20px;
	}
	.heading h3 {
		font-size: 0.8rem;
	}

	.text-container {
		width: 100% !important;
	}

	.image-container {
		display: none;
	}

	.service-btn {
		flex-wrap: nowrap;
		min-width: 10px;
		padding: 0.2rem;
		margin: 0.3rem;
		font-weight: 500;
		font-size: 0.65rem;
	}

	.content-box {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column !important;
	}

	.service-text-container {
		width: 100% !important;
		margin-top: 0.5rem;
	}

	.info h1 {
		font-size: 1rem;
	}

	.contact-btn {
		font-size: 15px;
		width: 150px;
		height: 50px;
	}
}

@media screen and (max-width: 420px) {
	.link {
		margin: 5px 0;
	}
	.nav-link {
		color: black !important;
	}

	.main-text h3 {
		font-size: 0.75rem;
	}
	.main-text h1 {
		font-size: 1rem;
	}
	.main-text p {
		font-size: 0.5rem;
	}

	.common-btn {
		font-size: 0.5rem;
	}
	.btn-arrow {
		font-size: 10px;
	}

	.carousel-btn {
		height: 20px;
		width: 20px;
	}

	.carousel-content {
		top: 7.5%;
		position: absolute;
		z-index: 2;
	}

	.service-btn {
		flex-wrap: nowrap;
		min-width: 10px;
		padding: 0.2rem;
		margin: 0.3rem;
		font-weight: 600;
		font-size: 0.5rem;
	}

	.bg-image-service img {
		height: 45vh;
		/* opacity: 0; */
	}

	.mask {
		background-color: var(--light-gray) !important;
	}

	.heading h3 {
		font-size: 0.6rem;
	}

	.progress-box {
		width: auto;
	}

	.contact-btn {
		font-size: 10px;
		width: 100px;
		height: 40px;
	}
}
