.carousel-btn { 
    margin: 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
	height: 40px;
	width: 40px;
	background-color: #d20145;
	border: none;
	outline: none;
	font-size: 35px;
	color: white;
}

.social-buttons {
	outline: none;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	margin: 0 4px;
}